html {
    background-image: url(../image/2.png);
    background-color: #200c9c; 
    height: 610px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    color:#f0f0f0;
      }


      .button {
        background-color: #4b0082;
        color: #dd0890;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
        border: .25rem solid #f0f0f0;
        
      }

.button:hover{
    border-color: #222222;
}

.button2 {
   
    text-align: center;
    margin-top: 20%;
    
   
}

.hm {
    color:#dd0890;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}


/*font-family: 'Titillium Web', sans-serif;
font-family: 'Open Sans', sans-serif;